<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>obtainAllAddress</key>
	<string>shipAddress/list.api</string>
	<key>addNewAddress</key>
	<string>shipAddress/add.api</string>
	<key>userStatistics</key>
	<string>user/myStatistics.api</string>
	<key>sendSMSPath</key>
	<string>sms/sendSMSCode.api</string>
	<key>registerPath</key>
	<string>user/register.api</string>
	<key>loginPath</key>
	<string>user/loginByPhone.api</string>
</dict>
</plist>
